.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    background-color: transparent;
}

.layout{
    min-height: 100vh;
    background: linear-gradient(to right, #e0f7fa, #ffffff);
    /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sider{
    background-color: transparent !important;
    border: none;
}

.footer{
    text-align: center;
}